h1, h2, h3, p {
  margin: 0px;
  border: 0px;
  padding: 0 8px 0 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: inherit;
  font-size: 100%
}
body {
  margin-left: 20px;
}
h1 {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  font-kerning: 3px;
  margin-top: 12.25px;
}
h2, p.copyright {
  margin-top: 20.5px;
}
p {
  margin-top: 5px;
}
.content{
  width: 800px;
  height: 422px
}
header, section, footer {
  background-color: #ffb3b3;
  border-width: 2px;
  border-bottom: 0;
  border-style: solid;
  border-color: #000000;
}
section {
  height: 298px;
}
header, footer {
  height: 60px;
}
footer {
  border-bottom: 2px solid #000000;
}
.left {
  float: left;
  width: 24.875%;
}
/* Width=200px */
.middle {
  float: left;
  width: 49.75%;
  border-width: 0 2px;
  border-color: #000000;
  border-style: solid;
  height: 300px;
}
/* width=400; total=600px*/
.right {
  width: 24.875%;
  text-align: right;
  float: left;
}

div.copyright {
  float:left;
  width: 74.875%;
  height: 60px;
  border-left: 2px solid #000000;
  vertical-align: middle;
  background-color: #ccd9ff;
  }

.foobar {
  float:left;
  width:49%;
  border: 2px solid #000000;
  padding: 8px 0;
  background-color: #fffacd;
  margin-top: 125px;
}
.foobar.right {
    border-left: 0px;
    text-align: left;
}

.foobar_combined {
  margin: 0 auto;
  width: 80%;
}
