h1, h2, h3, p {
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: inherit;
  font-size: 100%
}
.content {
  margin-left: 20px;
}
header {
  font-size: 40px;
  font-weight: 300;
  border: 2px solid #000000;
  border-bottom: none;
  padding: 8px;
  }

.foobar {
  list-style-type: none;
  display: inline;

}
.left {
  float: left;
  width: 200px;
  height: 300px;
  padding: 8px;
  border: 1px 1px 0 1px;
  border-style: solid;
  border-color: #000000;
}
.middle {
  float: left;
  height: 300px;
  width: 200px;
  padding: 8px;
  border: 1px 1px 0 1px;
  border-style: solid;
  border-color: #000000;
}
