h1, h2, h3, p {
  margin: 0;
  border: 0px;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: inherit;
  font-size: 100%
}
h1 {
  text-align: left;
  font-size: 40px;
  font-weight: 300;
}
.content {
  margin-left: 20px;
}
header, section, footer {
  width: 796px;
  background-color: #ffb3b3;
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  border-color: #000000;
}
section {
  height: 298px;
}
footer {
  border-bottom: 2px;
  border-style: solid;
  border-color: #000000;
}
.middle.foobar {
  list-style-type: none;
  display: inline;

}
.left {
  float: left;
  width: 198px;
}
/* Width=200px */
.middle {
  float: left;
  width: 396px;
  height: 298px;
  border-width: 0 2px 0 2px;
  border-color: #000000;
  border-style: solid;
}
/* width=400; total=600px*/

.right {
  float: left;
}
