font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;


h1 {
font-family: 'Crimson Text', serif;
 }
 h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
 }
h1.one {
  font-family: 'Source Serif Pro', serif;
}

h1.two {
  font-family: 'Sorts Mill Goudy', serif;
}
h2.two {
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
}
h3.two {
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 font-style: italic;
}

h1.three {
  font-family: 'Bentham', serif;
}

h1.four {
  font-family: 'Jacques Francois', serif;
}

h1.five {
  font-family: 'Hanuman', serif;
}

h2 {
 font-family: 'Source Sans Pro', sans-serif;
}

h3 {
 font-family: 'Source Sans Pro', sans-serif;
 font-weight: 300;
}
