#main-nav .add{
	background-image: url(../../../icons/add.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .addressbook{
	background-image: url(../../icons/addressbook.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .alert{
	background-image: url(../../icons/alert.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .apple{
	background-image: url(../../icons/apple.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow1_e{
	background-image: url(../../icons/arrow1_e.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow1_n{
	background-image: url(../../icons/arrow1_n.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow1_ne{
	background-image: url(../../icons/arrow1_ne.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow1_nw{
	background-image: url(../../icons/arrow1_nw.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow1_s{
	background-image: url(../../icons/arrow1_s.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow1_se{
	background-image: url(../../icons/arrow1_se.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow1_sw{
	background-image: url(../../icons/arrow1_sw.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow1_w{
	background-image: url(../../icons/arrow1_w.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow2_e{
	background-image: url(../../icons/arrow2_e.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow2_n{
	background-image: url(../../icons/arrow2_n.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow2_ne{
	background-image: url(../../icons/arrow2_ne.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow2_nw{
	background-image: url(../../icons/arrow2_nw.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow2_s{
	background-image: url(../../icons/arrow2_s.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow2_se{
	background-image: url(../../icons/arrow2_se.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow2_sw{
	background-image: url(../../icons/arrow2_sw.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow2_w{
	background-image: url(../../icons/arrow2_w.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow3_e{
	background-image: url(../../icons/arrow3_e.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow3_n{
	background-image: url(../../icons/arrow3_n.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow3_ne{
	background-image: url(../../icons/arrow3_ne.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow3_nw{
	background-image: url(../../icons/arrow3_nw.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow3_s{
	background-image: url(../../icons/arrow3_s.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow3_se{
	background-image: url(../../icons/arrow3_se.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow3_sw{
	background-image: url(../../icons/arrow3_sw.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .arrow3_w{
	background-image: url(../../icons/arrow3_w.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .ascii{
	background-image: url(../../icons/ascii.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .back{
	background-image: url(../../icons/back.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .bigsmile{
	background-image: url(../../icons/bigsmile.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .binary{
	background-image: url(../../icons/binary.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .blah{
	background-image: url(../../icons/blah.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .bstop{
	background-image: url(../../icons/bstop.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .buy{
	background-image: url(../../icons/buy.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .calday{
	background-image: url(../../icons/calday.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .calendar{
	background-image: url(../../icons/calendar.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .camera{
	background-image: url(../../icons/camera.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .cart{
	background-image: url(../../icons/cart.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .cd{
	background-image: url(../../icons/cd.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .cellphone{
	background-image: url(../../icons/cellphone.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .chat{
	background-image: url(../../icons/chat.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .check{
	background-image: url(../../icons/check.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .close{
	background-image: url(../../icons/close.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .comment{
	background-image: url(../../icons/comment.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .cube{
	background-image: url(../../icons/cube.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .day{
	background-image: url(../../icons/day.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .denied{
	background-image: url(../../icons/denied.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .document{
	background-image: url(../../icons/document.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .download{
	background-image: url(../../icons/download.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
#main-nav .edit{
	background-image: url(../../icons/edit.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .eject{
	background-image: url(../../icons/eject.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .equalizer{
	background-image: url(../../icons/equalizer.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .first{
	background-image: url(../../icons/first.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .flag{
	background-image: url(../../icons/flag.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
#main-nav .flash{
	background-image: url(../../icons/flash.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .folder{
	background-image: url(../../icons/folder.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .forward{
	background-image: url(../../icons/forward.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .frown{
	background-image: url(../../icons/frown.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .ftp{
	background-image: url(../../icons/ftp.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
#main-nav .graph{
	background-image: url(../../icons/graph.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .heart{
	background-image: url(../../icons/heart.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .home{
	background-image: url(../../icons/home.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .html{
	background-image: url(../../icons/html.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .ipod{
	background-image: url(../../icons/ipod.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
#main-nav .last{
	background-image: url(../../icons/last.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .lock{
	background-image: url(../../icons/lock.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .loop{
	background-image: url(../../icons/loop.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .mail{
	background-image: url(../../icons/mail.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .man{
	background-image: url(../../icons/man.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
#main-nav .manman{
	background-image: url(../../icons/manman.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .music{
	background-image: url(../../icons/music.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .mute{
	background-image: url(../../icons/mute.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .mute_centered{
	background-image: url(../../icons/mute_centered.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .newwindow{
	background-image: url(../../icons/newwindow.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
#main-nav .next{
	background-image: url(../../icons/next.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .night{
	background-image: url(../../icons/night.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .open{
	background-image: url(../../icons/open.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .pause{
	background-image: url(../../icons/pause.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .phone{
	background-image: url(../../icons/phone.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
#main-nav .play{
	background-image: url(../../icons/play.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .previous{
	background-image: url(../../icons/previous.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .quicktime{
	background-image: url(../../icons/quicktime.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .redo{
	background-image: url(../../icons/redo.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .reload{
	background-image: url(../../icons/reload.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
#main-nav .sad{
	background-image: url(../../icons/sad.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .save{
	background-image: url(../../icons/save.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .scream{
	background-image: url(../../icons/scream.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .search{
	background-image: url(../../icons/search.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .seconds{
	background-image: url(../../icons/seconds.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
#main-nav .smile{
	background-image: url(../../icons/smile.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .smirk{
	background-image: url(../../icons/smirk.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .star{
	background-image: url(../../icons/star.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .stop{
	background-image: url(../../icons/stop.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .subtract{
	background-image: url(../../icons/subtract.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
#main-nav .switch{
	background-image: url(../../icons/switch.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .target{
	background-image: url(../../icons/target.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .tcp{
	background-image: url(../../icons/tcp.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .time{
	background-image: url(../../icons/time.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .toggle{
	background-image: url(../../icons/toggle.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
#main-nav .tongue{
	background-image: url(../../icons/tongue.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .tools{
	background-image: url(../../icons/tools.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .trackback{
	background-image: url(../../icons/trackback.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .trash{
	background-image: url(../../icons/trash.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .tv{
	background-image: url(../../icons/tv.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
#main-nav .type{
	background-image: url(../../icons/type.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .undo{
	background-image: url(../../icons/undo.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .unlock{
	background-image: url(../../icons/unlock.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .upload{
	background-image: url(../../icons/upload.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .user{
	background-image: url(../../icons/user.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
#main-nav .video{
	background-image: url(../../icons/video.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .volume_high{
	background-image: url(../../icons/volume_high.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .volume_low{
	background-image: url(../../icons/volume_low.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .wifi{
	background-image: url(../../icons/wifi.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .window{
	background-image: url(../../icons/window.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
#main-nav .woman{
	background-image: url(../../icons/woman.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .womanman{
	background-image: url(../../icons/womanman.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .work{
	background-image: url(../../icons/work.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .zoomin{
	background-image: url(../../icons/zoomin.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}

#main-nav .zoomout{
	background-image: url(../../icons/zoomout.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
}
