/* COLORS */
/* FONT */
body {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 62.5%; }

.full {
  width: 100%;
  overflow: hidden;
  background: #fafafa; }

header {
  background: #fafafa;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: baseline; }

.logo_home {
  width: 25%;
  height: auto;
  margin-right: 10%; }

.logo {
  width: 100%;
  margin: 5%; }

ul.nav {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  align-items: center; }
  ul.nav li {
    font-family: 'Roboto', sans-serif;
    color: #5c5c5c;
    font-size: 1.6em;
    font-variant: small-caps;
    letter-spacing: .2em;
    list-style-type: none; }

.home_focal_background {
  height: 60vh;
  background: black;
  overflow: hidden;
  z-index: -1; }

.home_img_overlay {
  height: 100%;
  top: 0;
  opacity: .8; }

img {
  width: 100%; }
  img .home_focal {
    height: 100%; }

.listings {
  font-family: 'Roboto Slab', serif;
  color: #092043;
  font-size: 2.5em;
  letter-spacing: .07em;
  list-style-type: none; }

p {
  font-family: 'Roboto', sans-serif;
  color: #7c7979;
  font-size: 1.4em;
  margin-top: 5%;
  letter-spacing: .05em;
  font-weight: 300;
  line-height: 1.4em; }

li {
  font-family: 'Roboto', sans-serif;
  color: #7c7979;
  font-size: 1.4em;
  margin-top: 5%;
  letter-spacing: .05em;
  font-weight: 300;
  line-height: 1.6em;
  list-style-type: disc; }

.listings_3 {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.description {
  width: 50%;
  margin: 20px; }

.amenities {
  width: 25%;
  margin: 20px; }

.Interior {
  width: 25%;
  margin: 20px; }

.property_imgs {
  width: 100%;
  display: flex;
  margin: 0 auto; }

figure {
  width: 50%; }

/* COLORS */
/* FONT */
body {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 62.5%; }

.full {
  width: 100%;
  overflow: hidden;
  background: #fafafa; }

header {
  background: #fafafa;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: baseline; }

.logo_home {
  width: 25%;
  height: auto;
  margin-right: 10%; }

.logo {
  width: 100%;
  margin: 5%; }

ul.nav {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  align-items: center; }

ul.nav li {
  font-family: 'Roboto', sans-serif;
  color: #5c5c5c;
  font-size: 1.6em;
  font-variant: small-caps;
  letter-spacing: .2em;
  list-style-type: none; }

.home_focal_background {
  height: 60vh;
  background: black;
  overflow: hidden;
  z-index: -1; }

.home_img_overlay {
  height: 100%;
  top: 0;
  opacity: .8; }

img.home_focal {
  height: 100%; }

.listings {
  font-family: 'Roboto Slab', serif;
  color: #092043;
  font-size: 2.5em;
  letter-spacing: .07em;
  list-style-type: none; }

p {
  font-family: 'Roboto', sans-serif;
  color: #7c7979;
  font-size: 1.4em;
  margin-top: 5%;
  letter-spacing: .05em;
  font-weight: 300;
  line-height: 1.4em; }

li {
  font-family: 'Roboto', sans-serif;
  color: #7c7979;
  font-size: 1.4em;
  margin-top: 5%;
  letter-spacing: .05em;
  font-weight: 300;
  line-height: 1.6em;
  list-style-type: disc; }

.listings_3 {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  flex-wrap: wrap; }

.description {
  width: 50%;
  margin: 20px; }

.amenities {
  width: 60%;
  margin: 20px; }

.Interior {
  width: 30%;
  margin: 20px; }

/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
