/* COLORS */

$green: #C8B914;
$dark-g: #505858;
$gray: #8B8D8C;
$light-g: #d3d3d3;
$red: #810B46;

/* FONT */

//@include font-serif(,)
@mixin font-serif($x,$color:#d3d3d3) {
 font-family: 'Calluna', serif;
 color: $color;
 font-size: $x;
}

//@include font-sans-serif(,)
@mixin font-sans-serif($x,$color:#d3d3d3) {
 font-family: 'Source Sans Pro', serif;
 color: $color;
 font-size: $x;
}

//Page
body{
 width: 100%;
 height: auto;
 background-color: #fafafa;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.page {
 width: 95%;
 overflow: hidden;
}

section {
 width: 80%;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 flex-basis: 75%;
}

h1 {
 margin: 2% 0 0 2%;
 @include font-sans-serif(2em,$gray);
 text-align: center;
}

h2 {
 margin: 2% 0 0 2%;
 @include font-sans-serif(.6em,$dark-g);
}

h3 {
 margin: 30px 57px 15px 20px;
 @include font-sans-serif(3em,$dark-g);
}

strong {
 font-weight: 600;
}

//heading
.logo {
 display: flex;
 flex-direction: column;
 width: 28%;
 a {
  text-decoration: none;
  display: flex;
 }
 h1 {
  margin: 0 0 0 2%;
  @include font-sans-serif(1.5em,$green );
  text-align: left;
  letter-spacing: .08em;
  font-weight: 600;
 }
 h2 {
  margin-top: 0;
  color: $red;
  font-weight: lighter;
  font-size: 1em;
  letter-spacing: .06em;
 }

}

header {
 width: 90%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 25px 0;
}

.nav {
 display: flex;
 justify-content: space-evenly;
 width: 65%;
 padding: 0;
 li{
  @include font-sans-serif(.9em,$green);
  font-weight: 400;
  letter-spacing: .08em;
  list-style-type: none;
  a {
   text-decoration: none;
   color: $green;
  }
  a:hover {
   text-decoration: bold;
   color: $red;
  }
 }
}

#bootstrap-overrides .navbar-brand {
 height: auto;
}

#bootstrap-overrides .navbar-header {
 width: 36%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.container {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

button.navbar-toggle {
 border: 1px solid $green;
}

.icon-bar {
 background-color: $green;
}

/* Add a black background color to the top navigation */
.topnav {
 background-color: $dark-g;
 color: #ddd;
 overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
 font-family: 'source sans pro', serif;
 float: left;
 display: block;
 color: #ddd;
 text-align: center;
 padding: 6px 40px 6px 8px;
 text-decoration: none;
 font-size: 11px;
}

.topnav .icon a {
 color: $red;
 background-color: #ddd;
}
/* Change the color of links osn hover */
.topnav a:hover {
 background-color: #ddd;
 color: $red;
}
.topnav .icon a:hover {
 background-color: $dark-g;
 color: #ddd;
}

/* Add an active class to highlight the current page */
.topnav a.active {
 background-color: #ddd;
 color: $red;
 border-right: 2px solid white;
}
.active_list {
 background-color: $green;
 color: white;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
 display: none;
 width: 10px;
 padding: 6px 8px;
}

//end heading


//GALLERY
img {
    width: 100%;
    height: 100%;
    min-width: 0;
}

.grid-container {
 display: grid;
}

.horizontal, .vertical {
 display: flex;
 flex-wrap: nowrap;
 width: 100%;
 align-items: center;
 .gallery {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-color: black;
 }
 img {
  opacity: .5;
  height: 100%;
 }
 img:hover, img:active, img:focus {
  opacity: 1;
 }
}

.horizontal {
 .gallery {
  width: 50%;
 }
}

.vertical {
 .gallery {
  width: 33.3333333%;
 }
}

.vertical.two {
 .gallery {
  width: 50%;
 }
}

.hamburger_nav {
 position: absolute;
 top: 39.5px;
 right: 10%;
 z-index: 1;

}

/*REACH OUT*/

form {
 background-color: white;
 padding: 5px;
 position: static;
}

label {
 @include font-sans-serif(1.2em, $red);
 font-weight:400;
 letter-spacing: .05em;
}

input {
 display: inline;
 @include font-sans-serif(1em, $dark-g);
 &[type="checkbox"] {
  display: inline;
  width: 10px;
  margin: 0;
 }
}

.contact {
 margin: 15px 0;
}

#name, #email, #phone, #subject, #message{
 display: inline;
 flex-grow: 1;
 border: 1px solid #ccc;
}

textarea {
 display: block;
 width: 98%;
 height: 30vh;
}

.group {
 margin-bottom: 25px;
}

.checkbox {
 width: 14%;
 display: flex;
 justify-content: center;
 align-items: stretch;
 flex-direction: column;
}

.line, .check-line {
 display: flex;
 justify-content: space-between;
 align-items: center;
 label {
  font-size: .7em;
  font-weight: 400;
  letter-spacing: .04em;
  color: $red;
 }
}

input:invalid+span:after {
 position: absolute; content: '✖';
 padding-left: 5px;
 color: #8b0000;
}

input:focus+span:after {
 position: absolute; content: '';
}

/*RESPONSIVE*/

@media only screen and (max-width: 1000px) {
 .logo {
  h1 {
   font-size: 1.3em;
  }
  h2 {
   font-size: .875em;
  }
 }
}

@media only screen and (max-width: 768px) {
 h2.logo {
  text-align: center;
 }
 .nav li a {
  font-size: .775em;
 }
}

@media only screen and (max-width: 600px) {
 .logo {
  width: 45%;
 }
 .horizontal, .vertical {
  flex-wrap: wrap;
  .gallery {
   width: 100%;
   height: auto;
   margin: 15px 0 15px 0;
   img {
    width: 100%;
   }
  }
 }
 .nav {
  visibility: collapse;
 }

 .topnav a:not(:first-child) {
  display: none;
 }
 .topnav a.icon {
  float: right;
  display: block;
 }
 .topnav.responsive {
  position: relative;
 }
 .topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
 }
 .topnav.responsive a.active {
  display: none;
 }
 .topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
 }
}

@media only screen and (max-width: 450px) {
 .topnav a.active {
  display: none;
 }
 .logo {
  width: 55%;
 }
}

@media only screen and (min-width: 600px) {
 .hamburger_nav {
  display: none;
 }
}
