@charset "UTF-8";
/* COLORS */
/* FONT */
body {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.page {
  width: 95%;
  overflow: hidden; }

section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 75%; }

h1 {
  margin: 2% 0 0 2%;
  font-family: 'Source Sans Pro', serif;
  color: #8B8D8C;
  font-size: 2em;
  text-align: center; }

h2 {
  margin: 2% 0 0 2%;
  font-family: 'Source Sans Pro', serif;
  color: #505858;
  font-size: 0.6em; }

h3 {
  margin: 30px 57px 15px 20px;
  font-family: 'Source Sans Pro', serif;
  color: #505858;
  font-size: 3em; }

strong {
  font-weight: 600; }

.logo {
  display: flex;
  flex-direction: column;
  width: 28%; }
  .logo h1 {
    margin: 0 0 0 2%;
    font-family: 'Source Sans Pro', serif;
    color: #C8B914;
    font-size: 1.5em;
    text-align: left;
    letter-spacing: .08em;
    font-weight: 600; }
  .logo h2 {
    margin-top: 0;
    color: #810B46;
    font-weight: lighter;
    font-size: 1em;
    letter-spacing: .06em; }

header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0; }

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  padding: 0; }
  .nav li {
    font-family: 'Source Sans Pro', serif;
    color: #C8B914;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: .08em;
    list-style-type: none; }
    .nav li a {
      text-decoration: none;
      color: #C8B914; }
    .nav li a:hover {
      text-decoration: bold;
      color: #810B46; }

#bootstrap-overrides .navbar-brand {
  height: auto; }

#bootstrap-overrides .navbar-header {
  width: 36%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

button.navbar-toggle {
  border: 1px solid #C8B914; }

.icon-bar {
  background-color: #C8B914; }

/* Add a black background color to the top navigation */
.topnav {
  background-color: #505858;
  color: #ddd;
  overflow: hidden; }

img {
  width: 100%; }

/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'source sans pro', serif;
  float: left;
  display: block;
  color: #ddd;
  text-align: center;
  padding: 6px 40px 6px 8px;
  text-decoration: none;
  font-size: 11px; }

.topnav .icon a {
  color: #810B46;
  background-color: #ddd; }

/* Change the color of links osn hover */
.topnav a:hover {
  background-color: #ddd;
  color: #810B46; }

.topnav .icon a:hover {
  background-color: #505858;
  color: #ddd; }

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #ddd;
  color: #810B46;
  border-right: 2px solid white; }

.active_list {
  background-color: #C8B914;
  color: white; }

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  width: 10px;
  padding: 6px 8px; }

.horizontal, .vertical {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;}

  .horizontal .gallery, .vertical .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background-color: black; }
  .horizontal img, .vertical img {
    opacity: .5;
    height: 100%; }
  .horizontal img:hover, .horizontal img:active, .horizontal img:focus, .vertical img:hover, .vertical img:active, .vertical img:focus {
    opacity: 1; }

.horizontal .gallery {
  width: 50%; }

.vertical .gallery {
  width: 33.3333333%; }

.vertical.two .gallery {
  width: 50%; }

.hamburger_nav {
  position: absolute;
  top: 39.5px;
  right: 10%;
  z-index: 1; }

/*REACH OUT*/
form {
  background-color: white;
  padding: 5px;
  position: static; }

label {
  font-family: 'Source Sans Pro', serif;
  color: #810B46;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: .05em; }

input {
  display: inline;
  font-family: 'Source Sans Pro', serif;
  color: #505858;
  font-size: 1em; }
  input[type="checkbox"] {
    display: inline;
    width: 10px;
    margin: 0; }

.contact {
  margin: 15px 0; }

#name, #email, #phone, #subject, #message {
  display: inline;
  flex-grow: 1;
  border: 1px solid #ccc; }

textarea {
  display: block;
  width: 98%;
  height: 30vh; }

.group {
  margin-bottom: 25px; }

.checkbox {
  width: 14%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column; }

.line, .check-line {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .line label, .check-line label {
    font-size: .7em;
    font-weight: 400;
    letter-spacing: .04em;
    color: #810B46; }

input:invalid + span:after {
  position: absolute;
  content: '✖';
  padding-left: 5px;
  color: #8b0000; }

input:focus + span:after {
  position: absolute;
  content: ''; }

/*RESPONSIVE*/
@media only screen and (max-width: 1000px) {
  .logo h1 {
    font-size: 1.3em; }
  .logo h2 {
    font-size: .875em; } }
@media only screen and (max-width: 768px) {
  h2.logo {
    text-align: center; }

  .nav li a {
    font-size: .775em; } }
@media only screen and (max-width: 600px) {
  .logo {
    width: 45%; }

  .horizontal, .vertical {
    flex-wrap: wrap; }
    .horizontal .gallery, .vertical .gallery {
      width: 100%;
      height: auto;
      margin: 15px 0 15px 0; }
      .horizontal .gallery img, .vertical .gallery img {
        width: 100%; }

  .nav {
    visibility: collapse; }

  .topnav a:not(:first-child) {
    display: none; }

  .topnav a.icon {
    float: right;
    display: block; }

  .topnav.responsive {
    position: relative; }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0; }

  .topnav.responsive a.active {
    display: none; }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; } }
@media only screen and (max-width: 450px) {
  .topnav a.active {
    display: none; }

  .logo {
    width: 55%; } }
@media only screen and (min-width: 600px) {
  .hamburger_nav {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
