/* COLORS */
/* FONT */
body.container-fluid {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  margin: 0;
  display: flex;
  justify-content: center; }

.page {
  width: 95%;
  overflow: hidden; }

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1 1;
  justify-content: flex-start;
  flex-basis: 75%; }

#bootstrap-overrides h1 {
  margin: 2% 0 0 2%;
  font-family: 'Source Sans Pro', serif;
  color: #8B8D8C;
  font-size: 2em;
  text-align: center; }
  #bootstrap-overrides h1.logo {
    margin: 2% 0 0 2%;
    font-family: 'Source Sans Pro', serif;
    color: #C8B914;
    font-size: 1em;
    font-weight: lighter;
    text-align: left; }

h2 {
  margin: 2% 0 0 2%;
  font-family: 'Calluna', serif;
  color: #505858;
  font-size: 0.6em; }
  h2.logo {
    margin-top: 0;
    color: #A94B6D;
    font-weight: lighter;
    font-size: 1em; }

h3 {
  margin: 30px 57px 15px 20px;
  font-family: 'Calluna', serif;
  color: #505858;
  font-size: 3em; }

.nav {
  display: flex;
  justify-content: space-around; }
  .nav li {
    font-family: 'Source Sans Pro', serif;
    color: #C8B914;
    font-size: 0.8em;
    font-weight: 200;
    letter-spacing: .1em;
    list-style-type: none; }
    .nav li a {
      text-decoration: none;
      color: #C8B914; }
    .nav li a:hover {
      text-decoration: bold;
      color: #A94B6D; }

#bootstrap-overrides .navbar-brand {
  height: auto; }

#bootstrap-overrides .navbar-header {
  width: 36%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

button.navbar-toggle {
  border: 1px solid #C8B914; }

.icon-bar {
  background-color: #C8B914; }

.horizontal, .vertical {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; }
  .horizontal .gallery, .vertical .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    margin: 3px 7px 0 7px; }
  .horizontal img, .vertical img {
    border-radius: 5px; }

.horizontal .gallery {
  width: 50%; }
.horizontal img {
  width: 100%; }

.vertical .gallery {
  width: 33.3333333%; }
.vertical img {
  height: 100%; }

ul.artwork {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 0 4%;
  padding: 0;
  list-style-type: none; }
  ul.artwork li {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    border-radius: 2.5px; }
    ul.artwork li.horizontal {
      height: 250px;
      width: 48%;
      overflow: hidden; }
      ul.artwork li.horizontal img {
        width: 100%; }
    ul.artwork li.vertical {
      height: 300px;
      width: 32%;
      overflow: hidden; }
      ul.artwork li.vertical img {
        height: auto;
        width: 100%; }

/*RESPONSIVE*/
@media only screen and (max-width: 768px) {
  h2.logo {
    text-align: center; } }
@media only screen and (max-width: 600px) {
  .horizontal, .vertical {
    flex-wrap: wrap; }
    .horizontal .gallery, .vertical .gallery {
      width: 100%;
      height: auto;
      margin: 15px 0 15px 0; }
      .horizontal .gallery img, .vertical .gallery img {
        width: 100%; } }

/*# sourceMappingURL=styles.css.map */
