.containerblank {
    width: 85%;
    margin: 0 auto;
    z-index: 1000;
    height: 100%;
}

#navbar {
    margin: 0px auto;
    z-index: 999;
}

.container-full {
    width: 100%;
    margin: 20px 0 20px auto;
    overflow: hidden;
    background-color: white;
    z-index: 1000;
}

.contact-topbar .fa, .phone-topbar .fa {
    font-size: 1.7em;
    color: #5c5c5c;
}

  .contact-topbar, .phone-topbar {
      background-color: #ededed;
      display: flex;
      border: 0.1em solid #ededed;
      border-radius: 0.5em;
      padding: 0.1em 0 0 2.2em;
      justify-content: space-around;
      width: 100%;
      align-items: center;
  }

  a.go-to:link {
    font-size: 0.8em;
    color: #5C5C5C;
    font-weight: 400;
    letter-spacing: 0.05em;
    padding: .3em 1.5em .3em 0;
    text-decoration: none;
}

p.go-to a:hover {
    color: #3D64AA;
    font-weight: 500;
    font-size: .73em;
}

p.go-to {
    padding-bottom: 0;
    line-height: normal;
    text-align: center;
    color: #5c5c5c;
}

.mg-hide-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo {
    text-align: left;
    margin: 6.9% 0;
}

.heading-elements {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
