/* Buttons 
*/


.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% 'Lato', sans-serif;
	padding: .5em 1em .55em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin:5px;
}
.button:hover {
	text-decoration: none;
	color: white;
	-webkit-transition: background-color 1s ease-in-out;
	-webkit-transition-duration: 0.4s;
	-moz-transition: background-color 1s ease-in-out;
	-moz-transition-duration: 0.4s;
}
.button:active {

}

.large{
	font-size: 16px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	padding-right:20px;
}

.action{
	margin-top:10px;
	float:right;
	margin-right:10px;
	margin-left:10px;
}

.more{
	margin:0px;
	margin-top:10px;
}

/* color styles 
---------------------------------------------- */

/* black */
.black {
	color: #d7d7d7;
	background: #333;

}
.black:hover {
	background: #000;
}
.black:active {
	color: white;
}

a.black, a.gray, a.orange, a.red, a.blue, a.rosy, a.green, a.pink {
	color:white;
}

a.white, a.white:hover{
	color:#606060;
}

/* gray */
.gray {
	color: #e9e9e9;
	background: #6e6e6e;
}
.gray:hover {
	background: #616161;
}
.gray:active {
	color: white;
}

/* white */
.white {
	color: #606060;
	background: #fff;
}
.white:hover {
	background: #ededed;
}
.white:active {
	color: #999;
}


/* orange */
.orange {
	color: white;
	background: #f78d1d;
}
.orange:hover {
	background: #f78d1d;
}
.orange:active {
	color: white;
	background: #f78d1d;
}

/* red */
.red {
	color: #faddde;
	background: #FF0000;
}
.red:hover {
	background: #b61318;
}
.red:active {
	color: white;
}

/* blue */
.blue {
	color: #d9eef7;
	background: #0095cd;
}
.blue:hover {
	background: #007ead;
}
.blue:active {
	color: white;
}

/* rosy */
.rosy {
	color: white;
	background: #FB6868;
}
.rosy:hover {
	background: #F35959;
}
.rosy:active {
	color: white;
}

/* green */
.green {
	color: white;
	background: #008000;
}
.green:hover {
	background: #009E00;
}
.green:active {
	color: white;
}

/* pink */
.pink {
	color: #feeef5;
	background: #f895c2;
}
.pink:hover {
	background: #d57ea5;
}
.pink:active {
	color: white;
}