/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
body {
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* Defaults */

body{
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #F5F5F5;
	color: #757575;
	line-height: 18px;
}

input, textarea {
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fff;
	color: #5d5c5c;
	border: 1px solid #E4E4E4;
	padding:5px;
}

input:focus, textarea:focus{
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: 0px 0px 3px 0px #CCCBCB;
	box-shadow: 0px 0px 3px 0px #CCCBCB; 
	moz-box-shadow: 0px 0px 3px 0px #CCCBCB; 
}

#footer input, #footer textarea{
	background-color:#4F4F4F;
	border:1px solid #656565;
	color:#CCCCCC;
}

#footer input:focus, #footer textarea:focus{
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: 0px 0px 3px 0px #5E5E5E;
	box-shadow: 0px 0px 3px 0px #5E5E5E; 
	moz-box-shadow: 0px 0px 3px 0px #5E5E5E; 
}

blockquote{
	color:#404040;
	font-size: 18px;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding:20px;
	border-left:3px solid #F4F4F4;
	margin-bottom:10px;
}

.clear {
	clear:both;
}

img.aligncenter, .aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	margin-bottom:20px;
}

img.alignleft, .alignleft {
	float: left;
	margin-right:20px;
	margin-bottom:20px;
	margin-top:20px;
	clear:both;
}

img.alignright, .alignright {
	float: right;
	margin-left:20px;
	margin-bottom:20px;
	margin-top:20px;
	clear:both;
}

img.alignnone, .alignnone {
	clear: both;
	display: block;
	margin-top:20px;
	margin-bottom:20px;
	clear:both;
}

.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}

.wp-caption img {
	margin: 5px 5px 0;
}

.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}

.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}

#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}

#content tr th, #content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}

#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}

#content tr.odd td {
	background: #f2f7fc;
}

#content dl {
	margin: 0 0 24px 0;
}

#content dt {
	font-weight: bold;
}

#content dd {
	margin-bottom: 18px;
}

#content ul {
	margin-bottom:20px;
	display:block;
	padding-left:20px;
	list-style-type:circle;
}

#content li {
	margin-bottom:5px;
}

#content ol {
	margin-bottom:20px;
	display:block;
	padding-left:20px;
	list-style-type:decimal
}

#content address {
	margin-bottom:20px;
	display:block;
}